/*cuadro de account*/

.account{
    @include input;
}

.square-form{
    margin: 0 auto;
    margin-top: 20px;
}

.icon{
    width: 12px;
    background-color: #eeeeee;
    border: 1px solid $text-border;
    padding: 10px 10px 16px 10px;
    float: left;
}


